extends ./shared/default

block content
    div.homepage
        div.section_item.javascript
            header javascript
            div
                ul
                    li
                        a(href="articles/articles_in_html/我的第一篇文章.html") 我的第一篇文章