extends ./shared/default

block global
    div.loader
block disqus
    span
block content
    div.homepage
        div.section_item.javascript
            h2  JavaScript
            div.section_item_content
