extends ../../template/shared/default

block content
    div.article-detail.markdown-body.
        <h2 id="webpack-webpack-">webpack学习-（webpack基础）</h2>
        <blockquote>
        <p>什么是软件打包(software bundle)：2个或者多个软件应用被集合起来呈现为一个应用，这些被打包的软件共享ui界面，集成各种小功能。</p>
        <p>什么是前端打包(front-end bundle): 将前端资源（js,image,css）汇集到一处(为了易于管理和阅读源代码，源代码通常会分布在多个文件中，在发布的时候就不需要这样了)</p>
        <p>什么是javascript打包: 将所有js程序代码+相关依赖变成一个js文件</p>
        <p>打包工具(bundler)的作用: 查找依赖，编译非css,js(比如scss,coffeeScript,jsx,模块化的JS)编译的作用就是将源代码变成浏览器可以理解的代码，在编译的过程中还可以对代码进行某些‘修饰’（比如自动css前缀，css/js代码压缩，混淆），一般最后输出的就是一个整的css或者JS文件</p>
        <p>常见的打包工具有webpack, browserify,gulp,grunt,rollup等等</p>
        </blockquote>
        <p>我们为什么需要打包呢，请查看<a href="/articles/articles_in_html/javascript 打包工具是如何工作的.html">javascript打包工具是如何工作的</a></p>
        <p>webpack是最近2年火起来的<code>前端打包</code>工具，下面是webpack的一个入门基础教程<br>讲述的内容包括。</p>
        <ol>
        <li>webpack是什么，它适合用在什么地方呢</li><li>webpack的<code>功能</code>有什么</li></ol>
        <p><em>本文写作的时候最新版本webpack为3.0</em></p>
        <h4 id="webpack-">webpack是什么，它适合用在什么地方呢</h4>
        <blockquote>
        <p>webpack 是一个现代 JavaScript 应用程序的<code>模块打包器</code>(module bundler)。</p>
        <blockquote>
        <p>来自<a href="https://doc.webpack-china.org/">https://doc.webpack-china.org/</a></p>
        </blockquote>
        </blockquote>
        <p><img src="/assets/article_images/webpack_basic_home_title.jpg" alt=""></p>
        <h4 id="webpack-">webpack的功能有什么</h4>
        <h4 id="webpack-">webpack不能做什么</h4>
        <h4 id="webpack-">webpack常用拓展插件介绍</h4>
        <ol>
        <li>css相关</li><li>js相关 </li></ol>


