extends ../../template/shared/default

block content
    div.article-detail.markdown-body.
        <hide-summary>这是summary来自第一篇的文章</hide-summary>
        <h2 id="webpack-webpack-">webpack学习-（webpack基础）</h2>
        <p>webpack是最近2年火起来的前端打包工具，打算给webpack来一个入门基础教程<br>讲述的内容包括。</p>
        <ol>
        <li>webpack是什么，它适合用在什么地方呢</li><li>webpack的<code>功能</code>有什么</li></ol>
        <p><em>本文写作的时候最新版本webpack为3.0</em></p>
        <h4 id="webpack-">webpack是什么，它适合用在什么地方呢</h4>
        <blockquote>
        <p>webpack 是一个现代 JavaScript 应用程序的<code>模块打包器</code>(module bundler)。</p>
        <blockquote>
        <p>来自<a href="https://doc.webpack-china.org/">https://doc.webpack-china.org/</a></p>
        </blockquote>
        </blockquote>
        <p><img src="/assets/article_images/webpack_basic_home_title.jpg" alt=""></p>
        <h4 id="webpack-">webpack的功能有什么</h4>
        <h4 id="webpack-">webpack不能做什么</h4>
        <h4 id="webpack-">webpack常用拓展插件介绍</h4>
        <ol>
        <li>css相关</li><li>js相关 </li></ol>


