@mixin flex_container_default
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: flex-start
  flex: 1

@mixin  flex_container_vertical
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  justify-content: flex-start
  flex: 1
div.global-wrapper
  max-width: 1000px
div.homepage
  @include flex_container_default
  .section_item
    header
      text-transform: capitalize
  ul
    list-style-type: none
    font-size: 20px
    line-height: 1.2em

div.article-detail
  max-width: 1000px
  margin:  50px auto


