.hide-summary {
  display: none; }

div.homepage {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex: 1; }
  div.homepage .section_item header {
    text-transform: capitalize; }
  div.homepage .section_item .section_item_content {
    margin-top: 20px; }
  div.homepage ul {
    list-style-type: none;
    font-size: 20px;
    line-height: 1.2em; }

div.article-detail {
  padding-top: 30px; }
