@mixin flex_container_default
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: flex-start
  flex: 1

@mixin  flex_container_vertical
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  justify-content: flex-start
  flex: 1
.hide-summary, .hide-img
  display:  none
div.homepage
  @include flex_container_default
  .section_item
    header
      text-transform: capitalize
    .section_item_content
      margin-top:  20px
  ul
    list-style-type: none
    font-size: 20px
    line-height: 1.2em

div.article-detail
  padding-top: 30px





